Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [ ]:
import pandas as pd

In [58]:
scores_df = pd.read_csv('ratings.csv')
# Прдеставим, что не знаем что такое groupby
onlyhighscores = scores_df[(scores_df.rating == 5.0)]
bestmovieID = onlyhighscores['movieId'].value_counts().index.values[0]
movies_df = pd.read_csv('movies.csv')
movies_df[(movies_df.movieId == bestmovieID)]

     movieId                             title       genres
314      318  Shawshank Redemption, The (1994)  Crime|Drama

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [57]:
power_df = pd.read_csv('power.csv')
filtered_df = power_df[ (power_df.year >= 2005) & (power_df.year <= 2010) & \
                       ((power_df.country == 'Estonia') | \
                        (power_df.country == 'Latvia') | \
                        (power_df.country == 'Lithuania')) & \
                      ((power_df.category == 4) | (power_df.category == 12) | (power_df.category == 21))]
filtered_df.to_excel('sample.xls')
summary_consume = filtered_df['quantity'].sum()
print(summary_consume)

240481.0

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [72]:
corona_df = pd.read_html('https://www.cia.gov/library/publications/the-world-factbook/rankorder/2002rank.html')[0]
corona_df

     Rank                    Country   (%) Date of Information
0       1                South Sudan  3.83           2017 est.
1       2                     Angola  3.52           2017 est.
2       3                     Malawi  3.31           2017 est.
3       4                    Burundi  3.25           2017 est.
4       5                     Uganda  3.20           2017 est.
..    ...                        ...   ...                 ...
229   230  Saint Pierre and Miquelon -1.08           2017 est.
230   231                    Lebanon -1.10           2017 est.
231   232             American Samoa -1.30           2017 est.
232   233                Puerto Rico -1.74           2017 est.
233   234               Cook Islands -2.79           2017 est.

[234 rows x 4 columns]